# **Data Exploration**

Import các thư viện cần thiết.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Đọc dữ liệu từ file csv

In [10]:
path = "../data/raw/aug_train.csv"
data = np.genfromtxt(path, delimiter=",",
                     dtype=str,
                     encoding='utf-8',)
data[:14]

array([['enrollee_id', 'city', 'city_development_index', 'gender',
        'relevent_experience', 'enrolled_university', 'education_level',
        'major_discipline', 'experience', 'company_size', 'company_type',
        'last_new_job', 'training_hours', 'target'],
       ['8949', 'city_103', '0.92', 'Male', 'Has relevent experience',
        'no_enrollment', 'Graduate', 'STEM', '>20', '', '', '1', '36',
        '1.0'],
       ['29725', 'city_40', '0.7759999999999999', 'Male',
        'No relevent experience', 'no_enrollment', 'Graduate', 'STEM',
        '15', '50-99', 'Pvt Ltd', '>4', '47', '0.0'],
       ['11561', 'city_21', '0.624', '', 'No relevent experience',
        'Full time course', 'Graduate', 'STEM', '5', '', '', 'never',
        '83', '0.0'],
       ['33241', 'city_115', '0.789', '', 'No relevent experience', '',
        'Graduate', 'Business Degree', '<1', '', 'Pvt Ltd', 'never',
        '52', '1.0'],
       ['666', 'city_162', '0.767', 'Male', 'Has relevent experience',
        'no_enrollment', 'Masters', 'STEM', '>20', '50-99',
        'Funded Startup', '4', '8', '0.0'],
       ['21651', 'city_176', '0.764', '', 'Has relevent experience',
        'Part time course', 'Graduate', 'STEM', '11', '', '', '1', '24',
        '1.0'],
       ['28806', 'city_160', '0.92', 'Male', 'Has relevent experience',
        'no_enrollment', 'High School', '', '5', '50-99',
        'Funded Startup', '1', '24', '0.0'],
       ['402', 'city_46', '0.762', 'Male', 'Has relevent experience',
        'no_enrollment', 'Graduate', 'STEM', '13', '<10', 'Pvt Ltd',
        '>4', '18', '1.0'],
       ['27107', 'city_103', '0.92', 'Male', 'Has relevent experience',
        'no_enrollment', 'Graduate', 'STEM', '7', '50-99', 'Pvt Ltd',
        '1', '46', '1.0'],
       ['699', 'city_103', '0.92', '', 'Has relevent experience',
        'no_enrollment', 'Graduate', 'STEM', '17', '10000+', 'Pvt Ltd',
        '>4', '123', '0.0'],
       ['29452', 'city_21', '0.624', '', 'No relevent experience',
        'Full time course', 'High School', '', '2', '', '', 'never',
        '32', '1.0'],
       ['23853', 'city_103', '0.92', 'Male', 'Has relevent experience',
        'no_enrollment', 'Graduate', 'STEM', '5', '5000-9999', 'Pvt Ltd',
        '1', '108', '0.0'],
       ['25619', 'city_61', '0.9129999999999999', 'Male',
        'Has relevent experience', 'no_enrollment', 'Graduate', 'STEM',
        '>20', '1000-4999', 'Pvt Ltd', '3', '23', '0.0']], dtype='<U23')

In [11]:
data.shape

(19159, 14)

In [12]:
df = pd.read_csv(path)
df

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14,NaN,NaN,1,42,1.0
19154,31398,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52,1.0
19155,24576,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44,0.0
19156,5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,NaN,<1,500-999,Pvt Ltd,2,97,0.0
19157,23834,city_67,0.855,NaN,No relevent experience,no_enrollment,Primary School,NaN,2,NaN,NaN,1,127,0.0

In [6]:
df.shape

(48895, 16)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  target                  19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB